@page
@model SportsGoalApp.Pages.DashboardModel
@{
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

@section Navbar{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">SportsGoalApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <partial name="_LoginPartial" />
                    <div class="dropdown">
                        <a class="btn btn-secondary bg-white text-black dropdown-toggle border-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/AddGoal">Add Goal</a></li>
                            <li><a class="dropdown-item" href="/AllGoals">View Goals</a></li>
                            <li><a class="dropdown-item" href="/PracticeLog">Log Your Practice</a></li>
                        </ul>
                    </div>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AICoach">AI Coach</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="container">
    <h1 class="display-6">Dashboard</h1>
    @if(Model.MyUser != null)
    {
    <h3>Sport: @Model.MyUser.ChosenSport</h3>
    }
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card p-3 border bg-light">
                @if(Model.CurrentGoal != null)
                {
                <h4 class="card-title bg-gradient">Current Goal</h4>
                <h5 class="card-body">@Model.CurrentGoal.Title</h5>
                <h6>Period: @Model.CurrentGoal.StartDate.Date - @Model.CurrentGoal.EndDate.Date</h6>
                <h6>Target: @Model.CurrentGoal.GoalNumber</h6>
                    <p>@Model.CurrentGoal.Description</p>
                }
                else
                {
                    <div class="alert">No current goal.....</div>
                }

            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 border bg-light">
                @if(Model.GoalList != null)
                {
                    foreach(var goal in Model.GoalList)
                    {
                       <div class="card">
                           <p class="card-body fw-bolder">@goal.Title</p>
                       </div>
                        <a href="/AllGoals">View Goals</a>
                    }
                }
                else
                {
                    <div class="alert">No goals yet.....</div>
                }
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="p-3 border bg-light">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

</div>
