@page
@model SportsGoalApp.Pages.SelectedGoalModel
@{
}

<h2>@Model.SelectedGoal.Title</h2>
<p>Category: @Model.SelectedGoal.Category</p>
<p>@Model.SelectedGoal.Description</p>
<p>@Model.SelectedGoal.StartDate --- @Model.SelectedGoal.EndDate</p>
<p>Target to reach: @Model.SelectedGoal.GoalNumber</p>

