@page
@model SportsGoalApp.Pages.Admin.GoalAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Goal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.GoalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.GoalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.Success)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.Success)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Goal.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
